body{
	background-color: #232323;
	margin: 0px;
	font-family: "Montserrat","Avenir";
}
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
	transition: background 0.6s;
}
#container{
	max-width: 600px;
	margin: 20px auto;
}
h1{tr
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
	background-color: #458DBA;
	margin: 0px;
	font-weight: normal;
	text-transform: uppercase;
}
#stripe{
	background-color: white;
	height: 25px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background-color: #458DBA;
}
#colorDisplay{
	font-size: 200%;
}
button{
	background-color: none;
	border:none;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 100%;
	font-weight: 700;
	color: #458DBA;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}
#message{
	display: inline-block;
	width: 20%;

}
button:hover{
	color: white;
	background-color: #458DBA;
}